@import "variable.styl"

body,html
  line-height:1
  font-family:'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
  user-select:none   
  -webkit-tap-highlight-color: transparent
  background:$color-background
  color:$color-text

.w
  width:1220px;
  margin:0 auto;

.clearfix:after{
  content:''
  display:block
  clear:both
  line-height:0
  visibility:hidden
}

.clearfix{
  zoom 1
}